.product {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    width: auto;
    height: auto;
    padding: 0.8rem;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.02);

    .product_info {
        display: flex;
        flex-direction: column;
        margin: 0;
        gap: 0.5rem;

        div {
            display: flex;
            align-items: center;
            gap: 0.5rem;

            .name-txt {
                color: #555;
                font-size: 1.2rem;
                font-weight: bold;
                text-transform: initial;
            }

            .category-txt {
                background-color: #eaeaea;
                padding: 0.2rem 0.4rem;
                border-radius: 10px;
                font-size: 0.8rem;
                text-transform: uppercase;
                font-weight: bold;
            }

            h3,
            p {
                margin: 0;
            }

            p {
                font-size: 0.8rem;
                font-weight: 600;
                color: #a7a7a7;
            }
        }
    }

    .options_menu {
        display: flex;
        gap: 0.5rem;

        button {
            width: 2.2rem;
            height: 2.2rem;
            border-radius: 50%;
            border: none;
            background-color: #eaeaea;
            cursor: pointer;
        }

        .edit-btn {
            color: #116829;
        }

        .delete-btn {
            color: #b00020;
        }
    }
}