@import url("./../../../colors.css");

button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem;
  border: none;
  border-radius: 200px;
  background-color: transparent;
  cursor: pointer;
  font-size: 1rem;
  color: var(--black);

  &.default {
    background-color: var(--green);
    color: var(--white);
    width: 100%;

    &:hover {
      background-color: var(--dark-green);
    }
  }

  &:hover {
    background-color: var(--light-gray);
  }

  &.add-item-btn {
    background-color: var(--green);
    color: var(--white);

    &:hover {
      background-color: var(--dark-green);
    }
  }

  &.cancel-btn {
    background-color: transparent;
    color: var(--red);

    &:hover {
      background-color: var(--light-red);
    }
  }

  &.edit-btn {
    background-color: transparent;
    color: var(--blue);

    &:hover {
      background-color: var(--light-blue);
    }

  }

  &.login-btn {
    background-color: var(--gray);
    color: var(--dark-gray);
    border: none;
    padding: 0.8rem 1.5rem;

    &:hover {
      cursor: not-allowed;
    }

    &.active {
      background-color: var(--green);
      color: var(--white);
      cursor: pointer;
    }
  }
}