@import url("../../../colors.css");

.header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    border-bottom: 1px solid var(--gray);

    .settings {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        button {
            width: 3rem;
            height: 3rem;
        }
    }

    h1 {
        font-size: 1.5rem;
        margin: 0;
        color: var(--black);
    }

    .account-settings {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        padding: 1rem;
        width: 80%;
        height: calc(100vh - 3rem);
        background-color: var(--white);
        border-right: 1px solid var(--gray);
        z-index: 10;

        .user-infos {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 0.5rem;
            width: 100%;
            padding-bottom: 1rem;
            border-bottom: 1px solid var(--gray);

            div {
                display: flex;
                align-items: center;
                gap: 1rem;
            }

            img {
                width: 2rem;
                height: 2rem;
                border-radius: 50%;
                object-fit: cover;
            }

            h2 {
                margin: 0;
                font-size: 1.2rem;
                font-weight: bold;
                color: var(--black);
            }

            .close-menu {
                width: 3rem;
                height: 3rem;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1rem;
                color: var(--black);
                cursor: pointer;

                &:hover {
                    background-color: var(--light-gray);
                }
            }
        }

        .groups-top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 0.5rem;
            width: 100%;

            div {
                display: flex;
                align-items: center;
                gap: 0.5rem;
            }

            i {
                color: var(--green);
            }

            h3 {
                margin: 0;
                font-size: 1rem;
                color: var(--black);
            }
        }

        ul {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 1rem;
            gap: 0.5rem;
            margin: 0;

            li {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 0.5rem;
                padding: 0.5rem 1rem;
                border: 1px solid var(--gray);
                border-radius: 10px;
                color: var(--black);
                cursor: pointer;

                p {
                    margin: 0;
                }

                &:hover {
                    background-color: var(--light-gray);
                    color: var(--black);
                }

                div {
                    display: flex;
                }
            }
        }
    }

    .user-menu {
        display: flex;
        align-items: center;
        width: 4rem;
        height: auto;

        .userMenu-btn {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            object-fit: cover;

            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }
    }
}