.product-edit-modal{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-10%);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 90%;
    height: auto;
    padding: 1rem;
    background-color: white;
    border: solid 1px #ddd;
    border-radius: 5px;
    z-index: 10;

    form{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        width: 100%;

        label{
            font-size: 0.8rem;
            color: #555;
        }
        input{
            padding: 0.5rem;
            border: solid 1px #ddd;
            border-radius: 5px;
            margin-bottom: 0.5rem;
        }
        select{
            padding: 0.5rem;
            border: solid 1px #ddd;
            border-radius: 5px;
            margin-bottom: 0.5rem;
        }
        button[type="submit"]{
            padding: 0.5rem;
            border: none;
            border-radius: 5px;
            background-color: #28a745;
            color: white;
            cursor: pointer;
            margin-top: 1rem;

            &:hover{
                background-color: #218838;
            }
        }
        button[type="button"]{
            padding: 0.5rem;
            border: none;
            border-radius: 5px;
            color: #c82333;
            cursor: pointer;
            background-color: transparent;

            &:hover{
                background-color: #f6f6f6;
            }
        }
    }
}